@charset "UTF-8";
.jumbotron h1 {
	font-family: 'Pacifico', cursive;
}
.jumbotron {
	margin-top: 2em;
}
.navbar-header .navbar-brand {
	font-family: 'Pacifico', cursive;
}
.social {
	padding-right: .5%;
	padding-left: .5%;
}

.col-md-4, .col-sm-6{
	height: 250px;
}

h1 {
	font-family: 'Pacifico', cursive;
}
p {
	font-size: 1.3em;
}
section {
	margin-top: 5em;
}

#footer {
	margin-top: 10em;
}
